<form>
  <div class="form-group">
    {{input value=firstName id='firstName' class='form-control' placeholder='Enter First Name:'}}
  </div>
  <div class="form-group">
    {{input value=lastName id='lastName' class='form-control' placeholder='Enter Last Name:'}}
  </div>

  <button {{action 'createUser'}}>Save</button>
</form>
