<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">WebSiteName</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/users/login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container main">
  {{outlet}}
</div>
